@charset "EUC-KR";
*{
	padding:0;
	margin:0;
	border:0;
}
.formWrap{
	width:670px;
	height:2800px;
	background-color:#52c1f1;
	padding:30px;
}
.infoWrap{
	width:670px;
	height:2000px;
	background-image:url(../images/index7.png);
	margin-bottom:30px;
}
.iText{
	padding:0 8px;
	height:31px;
	font-size:14px;
	border:1px solid #dfe5ed;
	vertical-align:middle;
}
.phoneNumber{
	margin:30px 0px;
}
.phoneNumber input[type="text"]{
	width:100px;
}
.phoneNumber input[type="submit"]{
	width:100px;
	height:30px;
}